GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=change-me-now
GF_AUTH_ANONYMOUS_ENABLED=false
GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
GF_SECURITY_ALLOW_EMBEDDING=false
LOKI_PORT=3100
PROMTAIL_PORT=9080
GRAFANA_PORT=3000
PYTHON_APP_IMAGE=devops-info-service:lab07
BONUS_APP_IMAGE=devops-info-service-go:lab07
