apiVersion: 1

providers:
  - name: Lab07 Dashboards
    orgId: 1
    folder: Lab 07
    type: file
    disableDeletion: false
    allowUiUpdates: true
    updateIntervalSeconds: 10
    options:
      path: /var/lib/grafana/dashboards
